#paginator

  - var prev = parseInt(currentPage - 2)
  - var next = parseInt(currentPage)

  if prev >= 0
    a(href="#{baseUrl}#{pagination[prev].url}") previous

  if prev >= 0 && next < numPages
    span.primary-color.
      &nbsp;|&nbsp;  
  
  if next < numPages
    a(href="#{baseUrl}#{pagination[next].url}") next
